In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/tÃ¸jfirma_sales_data.csv')
df.head(10)

   Product  Category Size  Units Sold  Sale Price            Sale Date
0   Shorts  Children   XL           1       27.03  2023-01-01 00:00:00
1    Jeans  Children   XS           4       56.77  2023-01-01 00:01:00
2    Skirt       Men   XL           3       38.72  2023-01-01 00:02:00
3   Jacket     Women    S           1       77.47  2023-01-01 00:03:00
4   Shorts  Children    L           3       32.21  2023-01-01 00:04:00
5      Hat       Men   XL           3       15.94  2023-01-01 00:05:00
6  Sweater     Women   XL           3       42.48  2023-01-01 00:06:00
7   Shorts     Women  XXL           4       33.34  2023-01-01 00:07:00
8    Skirt     Women   XS           4       38.29  2023-01-01 00:08:00
9   Jacket       Men    S           3       77.72  2023-01-01 00:09:00

In [3]:
df['Product'] = df['Product'].astype('category')
df['Category'] = df['Category'].astype('category')
df['Size'] = df['Size'].astype('category')
df['Units Sold'] = df['Units Sold'].astype('int')
df['Sale Price'] = df['Sale Price'].astype('float')
df['Sale Date'] = pd.to_datetime(df['Sale Date'])

In [4]:
average_sale = round(df['Sale Price'].mean())
total_sales = round(df['Sale Price'].sum())

print(f'Average sale: {average_sale:>10} DKK')
print(f'Total sales:  {total_sales:>10} DKK')

Average sale:         41 DKK
Total sales:     2051215 DKK